<div class="">
    <h3><strong><%= @agent.full_name %></strong></h3>
    <p><%= @agent.company%></p>
    <button class="btn btn-info">Call </button>
    <button class="btn btn-success">Email</button>
</div>
